@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: hsl(39, 100%, 77%);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
}

.logoBox {
  overflow: hidden;
  .slider {
    animation: slidein 20s linear infinite;
    white-space: nowrap;
    .logos {
      width: 20%;

      margin: 0px 0;
      .fab {
        /* width: calc(100% / 4); */
        width: 100%;
        animation: fade-in 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
      }
    }
  }
}

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-polygon {
  clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% 100%);
}

.hero-polygon img {
  clip-path: polygon(0 1.5%, 100% 1.5%, 100% 8.7%, 0 24.3%);
}
